@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');


:root {
  --theme: #277BC0
}

* {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Sora', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

.App {
  position: relative;
  min-height: 100vh;
}

body {
  color: #555;
}

.container-main {
  margin: 0 auto;
}

hr {
  display: block;
  border: 1px solid #555;
}

.centered p {
  line-height: 28px;
  font-size: 16px;
}


/* NavBar Styles */

.nav-text {
  color: white;
  letter-spacing: 1.5px;
  font-size: 30px;
}

.navbar {
  background-color: var(--theme);
  font-family: 'Montserrat', sans-serif;
}

.link {
  color: var(--theme);
  text-decoration: none;
}

.link:hover {
  color: rgb(239, 174, 20);
}

.nav-container {
  padding: 20px;
}

a h2.web-title {
  padding-top: 0px;
}

/* Home Styles */
.home {
  padding-top: 20px;
  padding-bottom: 70px;
  background-color: #f2f2f2;
}

.col-6 p {
  letter-spacing: 1.5px;
  text-align: center;
}

.icons a i {
  font-size: 40px;
  letter-spacing: 10px;
  color: black;
}

.cv-button{
  margin: 10px 0px;
}

/* --avatar-- */
.header {
  padding: 70px 0px;
}

.avatar {
  border-radius: 50%;
  height: 170px;
  width: 170px;
  text-align: center;
  margin-bottom: 40px;
}

/* About Styles */
.about{
  margin-top: 50px;
}

.avatar-about {
  border-radius: 50%;
  height: 170px;
  width: 170px;
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about p{
  font-size: 22px;
}


.skill-header{
  font-size: 17px;
  color: black;
}

section.skills{
  padding-bottom: 120px;
}

.skill{
  margin: 10px 0px;
}

/* Project Styles */
.projects {
  margin: 50px 0px;
  padding-bottom: 70px;
}

.card {
  text-align: start;
  margin-bottom: 24px;
}

.project-title {
  font-weight: 600;
  color: black;
  font-size: 26px;
}

.button {
  border-radius: 10%;
  padding: 7px 10px;
  text-decoration: none;
  color: white;
  background-color: var(--theme);
}

.responsive {
  margin-top: 40px;
}

/* Contact Styles */
.header-title {
  font-weight: 700;
  font-size: 27px;
}

.header-text {
  padding-bottom: 15px;
}

.contact {
  margin: 50px 0px;
}

.pt {
  padding-top: 50px;
  padding-bottom: 50px;
}

.centered {
  text-align: center;
}

form {
  width: 60%;
  display: inline-block;
}

form div.mb3 {
  margin-bottom: 15px;
}



/* Footer Styles */

div.footer {
  background-color: #2f2f2f;
  padding: 50px 0px;
}

footer h4 {
  padding-bottom: 20px;
}

.col {
  color: white;
}

.col p a {
  color: var(--theme);
  word-wrap: break-word;
  text-decoration: none;
}

.footer-links {
  list-style: none;
}

.copyrights {
  background-color: #222222;
  color: white;
  padding: 10px;

}

p.copyrights {
  margin-bottom: 0px;
}

.credits {
  color: #999;
}

footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.footer {
  margin-top: 100px;
}

.web-title {
  font-family: 'Eagle Lake', cursive;
  padding-top: 25px;
}